<div class="container">
  <div class="row mt-5">
    <div class="user-address">
      <h3>配送先編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @address, local: true do |f| %>
        <div class="field col-md-12">
  	    	<%= f.label :postal_code,"郵便番号(ハイフンなし)",class: 'col-md-3' %>
  	    	<%= f.text_field :postal_code, class: 'col-md-4' %>
        </div>
        <div class="field col-md-12">
  	    	<%= f.label :address,"住所",class: 'col-md-3' %>
  	    	<%= f.text_field :address,class: 'col-md-5 ' %>
  	    </div>
  	    <div class="field col-md-12">
  	    	<%= f.label :name,"宛名",class: 'col-md-3' %>
  	    	<%= f.text_field :name %> <%= f.submit "変更内容を保存", class: "btn btn-success col-md-2 offset-md-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>